/* THEME COLORS */

/* Color 1 */

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea, #top, .logo-subtitle, .site-title a, .post-single-categories a:hover, .wpcf7 input[type=submit],  .wpcf7 textarea, #footer a:hover, .copyrighttext, #outerfootersidebar .widget_namaste_contactwidget .contact-icon, #outerfootersidebar a, #sidebar a:hover, .widget-title, .entry-utility a:hover, .button:visited, input[type="submit"],  input[type="reset"], input[type="button"], button, .menu-social li a, #donate-button .btn, .site-title a:hover, a.pp_close, div.pp_default .pp_description, div.pp_default .pp_nav .currentTextHolder, div.pp_default .pp_content a, code, .com-link a, .com-reply a, .schedule-title, .organizer-title, .schedule-icon-box
{
	color: #e3ae3a;
}

.read-more .btn, #footernav a:hover
{
    color: #e3ae3a !important;
}

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea, .post-navigation, .post-single-title, .widget_search .searchform, .widget_product_search .searchform, .content-404 .searchform, .tagcloud a, .wpcf7 input[type=submit], .wpcf7 textarea, .wpcf7 input[type="text"], .wpcf7 input[type="email"], .wpcf7 input[type="password"], .event-ticket, .entry-utility, .read-more:hover, .button:visited, input[type="submit"],input[type="reset"], input[type="button"], #donate-button:hover, button, blockquote, select
{
	border-color:#e3ae3a;
}

.gallery .gallery-item .gallery-icon img, .iframe-holder, .single-post-image-holder, .widget_search .searcharea, .widget_product_search .searcharea, .content-404 .searcharea, .wpcf7 input[type=submit]:hover, .tagcloud a:hover, .event-map .fw-map, .flexslider .flex-direction-nav a:hover, .flexslider .flex-direction-nav a, .read-more .btn:hover, input[type="submit"]:hover,input[type="reset"]:hover, input[type="button"]:hover, button:hover, #headernav ul li:hover > .mega-menu, #headernav ul ul, #headernav, #donate-button:hover .btn, #donate-button, .read-more, .com-reply, .com-link a:hover, .com-reply a:hover
{
	background-color: #e3ae3a;
}

.pagination .current, .pagination a:hover
{
	box-shadow: 0 0 0 30px #e3ae3a inset;
}

/* Color 2 */

div.pp_default #pp_full_res .pp_inline,div.light_rounded .pp_content .ppt,div.light_rounded #pp_full_res .pp_inline,div.light_square .pp_content .ppt,div.light_square #pp_full_res .pp_inline,div.facebook .pp_content .ppt,div.facebook #pp_full_res .pp_inline, a, .morelink, .colortext, a.colortext, .post-single-title, .wpcf7 input[type=submit]:hover, .wpcf7 input[type="text"], .wpcf7 input[type="email"], .wpcf7 input[type="password"], .entry-tag, .entry-utility, input[type="submit"]:hover,input[type="reset"]:hover, input[type="button"]:hover, button:hover, #headernav ul ul a, #headernav ul ul, #headernav a, #donate-button:hover .btn, .searcharea button, .searcharea .search-submit, body, .widget_calendar #wp-calendar caption, .com-link a:hover, .com-reply a:hover
{
	color: #222222;
}

.searcharea input[placeholder], .searcharea input[type="search"], .tagcloud a:hover, .read-more .btn:hover
{
	color: #222222 !important;
}

div.pp_default .pp_content,div.light_rounded .pp_content, div.pp_overlay, div.dark_square .pp_left,div.dark_square .pp_middle,div.dark_square .pp_right,div.dark_square .pp_content, div.pp_default .pp_bottom .pp_left, div.pp_default .pp_bottom .pp_middle, div.pp_default .pp_bottom .pp_right, div.pp_default .pp_content_container .pp_right, div.pp_default .pp_content_container .pp_left, div.pp_default .pp_top .pp_left, div.pp_default .pp_top .pp_middle, div.pp_default .pp_top .pp_right, .wpcf7 input[type=submit], #outerfooter, #outerfootersidebar, .read-more .btn, .read-more:hover, .button:visited, input[type="submit"],input[type="reset"], input[type="button"], button, #donate-button .btn, #top, #footerholder .menu-social ul li, code, #donate-button:hover, .com-link a, .com-reply a
{
	background-color: #222222;
}

.single-post-image-holder, .widget-thumb, .wpcf7 input[type=submit]:hover, #outerfootersidebar, .flexslider .flex-direction-nav a, input[type="submit"]:hover,input[type="reset"]:hover, input[type="button"]:hover, button:hover, #top-search .searchform .searcharea, #headernav ul li:hover > .mega-menu, #headernav ul ul, #headernav, #donate-button, .read-more, #outerfooter, .com-reply
{
	border-color: #222222;	
}

.widget-title
{
    text-shadow: 0px 1px 1px #222222;
}

.site-title a:hover {
    text-shadow: 1px 2px 1px #222222;
}

#headernav {
    box-shadow: 0px 3px 10px 0px #222222;
    -moz-box-shadow:0px 3px 10px 0px #222222;
    -ms-box-shadow: 0px 3px 10px 0px #222222;
    -o-box-shadow: 0px 3px 10px 0px #222222;
    -webkit-box-shadow: 0px 3px 10px 0px #222222;
}

body ::-webkit-input-placeholder{
   color: #222222;
}
body :-moz-placeholder{
   color: #222222;
}
body ::-moz-placeholder{
   color: #222222;
}
body :-ms-input-placeholder {
   color: #222222;
}

/* Color 3 */

a:hover, a.colortext:hover, .colortext a:hover, .morelink:hover, .post-single-categories a, #sidebar a, .widget_namaste_contactwidget .contact-icon, .ticket-title, .details-event li, #respond label, #respond .required, h3#comments-title, h3#reply-title, .entry-utility a, #top-search .searchform .searcharea, #headernav ul ul .current_page_parent, #headernav .current_page_parent .current_page_item > a, #headernav .current_page_ancestor > a, #headernav .current_page_item > a, #headernav .current-menu-item > a, #headernav .current_page_item > a:hover, #headernav .current-menu-item > a:hover, #headernav ul ul a:hover, #headernav li:hover > a, a:hover, a:focus, a:active, .comment-body .fn, .newsletter-title, .schedule-point, .organizer-point
{
	color: #7C2E00;
}

.widget_search .searchform, .widget_product_search .searchform, .content-404 .searchform, .tagcloud a
{
	background-color: #7C2E00;
}

.gallery .gallery-item .gallery-icon img, .iframe-holder, .tagcloud a:hover, .event-map .fw-map, .avatar, #headernav .header-simple .current_page_item, #headernav .header-simple .current-menu-item, #headernav .header-simple .current-menu-ancestor, #headernav .header-simple .current-menu-parent
{
	border-color: #7C2E00;
}

/* Color 4 */

div.pp_default .pp_content a:hover, #footer a, #footer a:visited, #footersidebarcontainer, #outerfootersidebar .widget_namaste_popularwidget .post-date, #outerfootersidebar a:hover 
{
	color: #FFDB8C;
}

/* Color 5 */

.tagcloud a
{
	color: #ffffff !important;
}

/* EXTENSIONS COLORS */

/* Color 1 */

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea, .main-button .btn, .namaste-box-shortcode-1, .blockquote-2-content, .blockquote-2-author, .namaste-map-contacts a:hover, .fw-tabs-container, .namaste-toggle, .toggle .active a, .toggle:hover a, .toggle a:hover, .toggle a:focus, .toggle a:active, .member-info h3, .member-info p, .member-content, .donate-form label, .donate-form-light .main-button:hover .btn, .namaste-action-call .title, .action-call-item.square.action-call-effect.colored .info h3, .post-2-content .entry-title:hover, .post-2-button .btn, .popular-post-shortcode .post-title-holder a, .post-with-frame .post-with-frame-title .title, .events-inner, .eventinfos a:hover, a:hover .name, .iconbox-icon-holder, .imagebox .name:hover, .donate-form-light .donate-text, .donate-form-light .donate-info, .namaste-info-shortcode a, .event-carousel-content h3, .button-basic .btn, .button-inverse:hover .btn, .owl-navigation-dark .owl-prev, .owl-navigation-dark .owl-next, .owl-navigation-burgundy .owl-prev, .owl-navigation-burgundy  .owl-next, .pricing-column, .post-with-frame a, .member-content a .member-name:hover, .member-content li a:hover, .post-with-frame-excerpt, .post-with-frame-more
{
	color: #e3ae3a;
}

body input[placeholder], .namaste-tab-holder .nav > li > a:hover, .namaste-tab-holder .nav-tabs > li.ui-tabs-active > a, .namaste-tab-holder .nav-tabs > li.ui-tabs-active > a:hover, .namaste-tab-holder .nav-tabs > li.ui-tabs-active > a:focus, .info-shortcode-items, .date-box, .namaste-custom-slider .namaste-slider-caption
{
    color: #e3ae3a !important;
}

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea, figure.image-special-effect .image-effect-text::before, .namaste-box-holder-2, .separator, .blockquote-1, .highlight, .heading h1, .heading h2, .heading h3, .heading h4, .heading h5, .heading h6, .bigtitle, .namaste-map-view .show-title, .namaste-map-contacts .title, .member-thumb, .progress-holder, .donate-form-light .main-button, .action-call-item.square.action-call-effect.top_to_bottom .text, .call-ribbon, .post-with-frame .post-with-frame-date-holder, .main-button:hover, .post-2-button:hover, .namaste-info-shortcode, .button-basic:hover, .button-inverse, .pricing-featured .pricing-column-frame
{
	border-color: #e3ae3a;
}

.namaste-tab-holder .nav-tabs > li.ui-tabs-active > a, .namaste-tab-holder .nav-tabs > li.ui-tabs-active > a:hover, .namaste-tab-holder .nav-tabs > li.ui-tabs-active > a:focus, .toggle .active a, #owl-quote-namaste .quote-author-image {
	border-color: #e3ae3a !important;
}

.main-button, .main-button:hover .btn, .image-effect, .section-layer, .namaste-box-holder-1, .namaste-box-shortcode-2, .blockquote-2-holder, .namaste-flexslider .flexslider, .namaste-flexslider .flexslider .flex-direction-nav a, .namaste-flexslider .flexslider .flex-direction-nav a:hover, .imagebox .image, #namaste-video-image:hover .video-image-holder:before, .namaste-tab-holder, .namaste-toggle-holder, .member-content-holder, .progress .fore .bar, .donate-form-light .main-button .btn, .namaste-action-call, .post-2-button, .post-2-button:hover .btn, .post-with-frame, .post-with-frame .post-with-frame-date, .events-holder, .call-ribbon-2, .namaste-book, .donate-form-light .main-button:hover, .info-shortcode-container:before, .namaste-info-shortcode .title, .button-basic, .button-basic:hover .btn, .button-inverse .btn, .button-inverse:hover, .pricing-column-frame, .pricing-price-holder, .pricing-featured .pricing-column, .date-box-holder, .event-content-image, .wrap-nivoslider.theme-default .nivo-controlNav a, .wrap-nivoslider.theme-default .nivo-directionNav a
{
	background-color: #e3ae3a;
}

.highlight-2, .namaste-custom-slider .namaste-slider-caption-holder
{
	background-color: #e3ae3a !important;	
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span
{
	box-shadow: 0 0 0 6px #e3ae3a inset;
}

.member-info 
{
	box-shadow: inset 0 0 0 2px #e3ae3a;
}

.post-with-frame .news-image 
{
    box-shadow: 0px 1px 0px #e3ae3a;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	box-shadow: 0 0 0 6px #e3ae3a inset;
}

/* Color 2 */

.main-button:hover .btn, .highlight-2, .namaste-map-view .show-title, .donate-info,.donate-form-light .main-button .btn, .namaste-action-call, .action-call-item.square.action-call-effect.top_to_bottom .text, .action-call-item.square.action-call-effect.top_to_bottom a:hover .text, .category-list a:hover, .post-shortcode .entry-title a, .post-2-button:hover .btn, .namaste-info-shortcode .title, .button-basic:hover .btn, .button-inverse .btn, .button-bw:hover .btn, .button-custom .btn, .owl-navigation-light .owl-prev, .owl-navigation-light .owl-next, .pricing-price, .price-description, .pricing-featured .pricing-column, .event-box-link a:hover, .event-content-description h3:hover, .event-more, .event-content-social li a:hover, .wrap-nivoslider.theme-default .nivo-directionNav a:hover
{
	color: #222222;
}

.image-effect, .namaste-flexslider .flexslider .flex-direction-nav a, .namaste-action-call, .post-shortcode .small-thumb-holder, .post-2-button, .main-button, .donate-form-light .main-button:hover, .info-triangle, .button-basic, .button-inverse:hover, .button-bw,.pricing-column-frame, .wrap-nivoslider.theme-default .nivo-directionNav a, .namaste-custom-slider .nivo-caption
{
    border-color: #222222;
}

.highlight-2, .namaste-custom-slider .namaste-slider-caption-holder
{
	border-color: #222222 !important;
}

.main-button .btn, #namaste-video-image .video-image-holder:after, .member-info, .progress-holder, .progress .fore, .donate-form-light .main-button, .donate-form-light .main-button:hover .btn, .action-call-container:before, .namaste-action-call .title, .action-call-item.square.action-call-effect.colored .info .info-back, .action-call-item.square.action-call-effect .info .info-back, .post-2-button .btn, .main-button:hover, .post-2-button:hover, .info-shortcode-items, .namaste-info-shortcode, .button-basic .btn, .button-basic:hover, .button-inverse, .button-inverse:hover .btn, .button-bw .btn, .button-bw:hover, .button-custom, .owl-navigation-dark .owl-prev, .owl-navigation-dark .owl-next, .pricing-column, .pricing-featured .pricing-column-frame, .pricing-featured .pricing-price-holder, figure.image-special-effect, .namaste-custom-slider .namaste-slider-caption
{
	background-color: #222222;
}

@media (max-width: 1170px) {
	.namaste-info-shortcode {
		background-color: #222222;
	}
}

.blockquote-2-content, .blockquote-2-author, .fw-tabs-container, .namaste-toggle, .action-call-item.square.action-call-effect .info p, .post-with-frame .post-with-frame-date, .events-inner, .iconbox-icon-holder, .donate-form-light .donate-text, .donate-form-light .donate-info, .donate-form label
{
	text-shadow: 2px 2px 1px #222222;
}

.post-with-frame .post-with-frame-title .title, .image-effect-holder figure .image-effect-text, .namaste-box-shortcode-1, .member-content, .post-with-frame-more, .post-with-frame-excerpt
{
	text-shadow: 2px 1px 0px #222222;
}

.post-with-frame .post-with-frame-date, .post-with-frame .post-with-frame-date-holder
{
    box-shadow: 0px 0px 6px #222222;
}

.marquee-starts {
    background: -webkit-gradient(linear, right center, left center, from(transparent), to(#222222));
    background: -moz-linear-gradient(left center, #222222 0%, transparent 100%);
    background: -o-linear-gradient(left, #222222, transparent);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#222222', EndColorStr='transparent');
}

.marquee-ends {
    background: -webkit-gradient(linear, left center, right center, from(transparent), to(#222222));
    background: -moz-linear-gradient(right center, #222222 0%, transparent 100%);
    background: -o-linear-gradient(right, #222222, transparent);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#222222', EndColorStr='transparent');
}

/* Color 3 */

.namaste-box-shortcode-2, .namaste-map-contacts a, .iconbox .name, .donate-text, .category-list a, .post-shortcode .entry-title a:hover, .post-shortcode .entry-meta a:hover, .post-2-content .meta-data, .imagebox .name, .icon-mandala-frame:before, .icon-mandala:before, .event-box-link a, #owl-quote-namaste .quote-author, #owl-quote-namaste .quote-content:before, .event-box a, .event-content-description h3, .event-more:hover, .event-content-social li a
{
    color: #7C2E00;  	
}

.namaste-box-shortcode-1, .namaste-box-holder-2, .blockquote-2, .highlight, .fw-tabs-container, .namaste-toggle, .member-content, .post-with-frame .item-inner, .events-inner, .iconbox-icon-holder, .owl-navigation-burgundy .owl-prev, .owl-navigation-burgundy  .owl-next, .date-box
{  
	background-color: #7C2E00; 	
}

.namaste-box-holder-1, .blockquote-2-holder, .namaste-flexslider .flexslider, .imagebox .image, .namaste-tab-holder, .namaste-toggle-holder, .member-content-holder, .post-with-frame, .events-holder, .date-box-holder, .event-content-image
{
    border-color: #7C2E00;
}

.action-call-item.square.action-call-effect.colored .info h3 
{
	text-shadow: 1px 1px #7C2E00;
}

/* Color 4 */

.namaste-tab-holder .nav > li > a, .toggle .toggle-arrow:after, .toggle a, .popular-post-shortcode .post-title-holder, .popular-post-shortcode .post-title-holder a:hover, .event-titles, .eventinfos a, .action-call-item.square.action-call-effect .info p, .namaste-info-shortcode a:hover, .pricing-featured .pricing-price, .pricing-featured .price-description, .member-name, .member-content li a
{
	color: #FFDB8C;
}

.post-with-frame a:hover
{
	color: #FFDB8C !important;
}

.member-info p
{
	border-color: #FFDB8C;
}

/* Color 5 */

.button-bw, .button-bw:hover .btn, .owl-navigation-light .owl-prev, .owl-navigation-light .owl-next
{
    background-color: #ffffff;
}

.button-bw .btn
{
    color: #ffffff;
}

.button-bw:hover
{
    border-color: #ffffff;
}