.bgclass
{
	font-family: 'Athiti', sans-serif;
}
.bgcontactheader
{
	/*font-family:'PT Sans Caption', sans-serif;*/
	font-family: 'Lora', serif;
}
.bgcontact h6
{
	font-family: 'Athiti', sans-serif;
}
